<!DOCTYPE html>
<html>
<head>
 <title>Bulldozer price predictor</title>
</head>
<body>
 
 <div align="center" class="bg-info">
 <h1>Price predictor</h1></div>
 <div class="big" align="center">
 
 <h4><a href="codes">Categories and codes</a></h4>
  
  <form action="{{url_for('predict')}}" method="POST">
   <h3>ProductSize:</h3>
<textarea name="ProductSize" rows="1" cols="10"></textarea>
   <br>
   
   <h3>YearMade:</h3>
<textarea name="YearMade" rows="1" cols="10"></textarea>
   <br>      
   
   <h3>fiBaseModel:</h3>
<textarea name="fiBaseModel" rows="1" cols="10"></textarea>
   <br>
   
   <h3>fiSecondaryDesc:</h3>
<textarea name="fiSecondaryDesc" rows="1" cols="10"></textarea>
   <br> 

   <h3>SaleYear:</h3>
<textarea name="SaleYear" rows="1" cols="10">2022</textarea>
   <br>

   <h3>fiProductClassDesc:</h3>
<textarea name="fiProductClassDesc" rows="1" cols="10"></textarea>
   <br><br>     
   <input type="submit" name="" value="Predict" class="btn btn-info">
  </form>
 </div>
</body>
</html>
